*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3{
    text-align: center;
}

header{
    height: 7vh;
}

nav{
    height: 6vh;
    background-color: rgb(182, 213, 248);
    display: flex;
}

main{
    height: 75vh;
    width: 100%;
    /*background-image: url(/img/mapa.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: aliceblue;
    overflow-y: scroll;
}

header, nav{ 
    position: sticky;
    top: 0;
}

footer{
    color: white;
    background-color: rgb(41, 123, 199);
    height: 3vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}


.nav-link{
    color: black;
}

/*Sección de rutas*/
.sectionRutas{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.formRuta{
    display: flex;
    gap: 25px;
}

.addPunto{
    color: green;
}

.bi{
    background-color: transparent;
    border: none;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}


.tdOpciones{
    display: flex;
    justify-content: center;
}


/*Punto*/

.formPunto{
    display: flex;
    flex-direction: column;
    align-content: center;

    gap: 10px;
}

.cardPuntos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    padding: 25px;
    gap: 20px;
}

@media (max-width: 1285px) {
    /* … */
    .cardPuntos{
        display: grid;
        grid-template-columns: auto auto auto ;
        justify-content: space-around;
        padding: 25px;
        gap: 20px;
    }
}

@media (max-width: 975px) {
    /* … */
    .cardPuntos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 25px;
        gap: 20px;
    }
}

.hidden{
    display: none;
}